.app-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

.login-container,
.register-container {
  flex: 1; 
  padding: 1rem; 
}

.login-container {
  margin-right: 1rem; 
}